# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. TensorFlow

|Data Science Tools|
|------------------|
|RStudio|
|TensorFlow|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python:

In [10]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [11]:
# This will convert 200 minutes to hours by dividing
minutes = 200
hours = minutes/60
print (hours)

3.3333333333333335

**Objectives:**
- Python
- R
- SQL

## Author
Shanzay Awan